<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../include/head.html')

    <title>서울영상크리에이터 About us | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- #gnb -->
    <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
    <!-- // #gnb -->

    <!-- #contents -->
    <div class="wrap creater aboutus" id="contents">
      <section class="cr-aboutus-top">
        <div class="inner">
          <header class="page-header">
            <div class="location">
              <span
                ><a href=""
                  ><img src="../../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                ></span
              >
              <span><a href="">영상크리에이터</a></span>
              <span><a href="">about us</a></span>
            </div>
            <h2><strong>서울영상 크리에이터 만나기</strong></h2>
            <span class="select-wrap type-02">
              <label for="creator">
                <em class="hidden-txt">영상크리에이터 기수 선택</em>
              </label>
              <select name="" id="creator">
                <option value="">전체</option>
                <option value="">1기</option>
                <option value="">2기</option>
                <option value="">3기</option>
                <option value="">4기</option>
                <option value="">5기</option>
                <option value="">6기</option>
                <option value="">7기</option>
              </select>
            </span>
          </header>
          <div class="vd-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">서울 영상 크리에이터</a></dt>
                      <dd><a href="">빛으로 물든 청계천 산책 Vlog (ft.서울빛초롱축제)</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">특집행사</a></dt>
                      <dd><a href="">제27회 도시공간 정보포럼 | 디지털공간 정보의 성장과 발전</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">복지&middot;여성&middot;가족</a></dt>
                      <dd><a href="">나 혼자 서울 산다! 혼자 살면 꼭 알아야 할 서울시 1인가구 정책</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">기자브리핑</a></dt>
                      <dd><a href="">서울시 코로나19 현황 브리핑 02월 17일(목)</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">서울집콕 360VR</a></dt>
                      <dd><a href="">벚꽃축제 랜선투어 꽃비가 쏟아지는 서울의 봄 (푸른 봄이, 청춘에게)</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">전지적 서울시점</a></dt>
                      <dd><a href="">서울 라이딩맛집 근황 프로자출러가 추천하는 라이딩 맛집</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/340x244/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">기자브리핑</a></dt>
                      <dd><a href="">신학기 학습전략 라이브 설명회</a></dd>
                    </dl>
                  </div>
                </article>
              </div>
            </div>
            <div class="swiper-scrollbar-customed"></div>
            <div class="swiper-controller">
              <button class="button-swiper-prev"><em class="hidden-txt">이전</em></button>
              <button class="button-swiper-nxt"><em class="hidden-txt">다음</em></button>
            </div>
          </div>
        </div>
      </section>

      <!-- 최신영상 -->
      <section>
        <div class="inner">
          <h3 class="heading-wrap-03">
            <strong><a href="">최신영상</a></strong>
          </h3>
          <div class="box-style-list">
            <ul>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
              <li>
                <article>
                  <div class="img-thumb">
                    <a href="#"><img src="https://dummyimage.com/238x134/ccc/fff" alt="영상 썸네일" /></a>
                  </div>
                  <div class="info">
                    <dl>
                      <dt><a href="">디딤돌</a></dt>
                      <dd><a href="">지하철역에 인스타 포토존이 있다? 서울시 지하철 녹색공간</a></dd>
                    </dl>
                  </div>
                  <div class="date">2021.12.21</div>
                </article>
              </li>
            </ul>
          </div>
          <div class="paging pc-only purple">
            <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
            <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
            <strong>1</strong>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
            <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
          </div>
          <div class="btn-wrap align-c mob-only">
            <button type="button" class="btn-prev"><em>이전</em></button>
            <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
            <button type="button" class="btn-next"><em>다음</em></button>
          </div>
        </div>
      </section>
    </div>
    <!-- // #contents -->

    <!-- #footer -->
    <footer id="footer">@@include('../include/footer_sub.html')</footer>
    <!-- // #footer -->
  </body>
</html>
