<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>서울영상크리에이터 협업공간 등록 | 라이브 서울</title>

    @@include('../include/header_sub.html')

    <!--  이노릭스 업로드 컴포넌트 -->
    <script type="text/javascript" src="../innorix/innorix.js"></script>
    <link rel="stylesheet" type="text/css" href="../innorix/innorix.css" />
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap creater board write" id="contents">
        <h1 class="hidden-txt">서울영상크리에이터 협업공간 등록</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">영상크리에이터</a></span>
                <span><a href="">커뮤니티채널</a></span>
                <span><a href="">협업공간</a></span>
              </div>

              <h2 class="no_st">협업공간 등록</h2>
            </div>
          </header>
        </section>

        <!-- 협업공간 등록 -->
        <section>
          <div class="inner">
            <div class="b-write">
              <form>
                <div class="tblStyle-write">
                  <dl class="w-title">
                    <dt><label for="input-tit">큐레이션 제목</label></dt>
                    <dd>
                      <span class="text-wrap">
                        <input placeholder="제목필수 입력" type="text" id="input-tit" />
                      </span>
                      <p class="txt-bite">0 / 30자</p>
                    </dd>
                  </dl>
                  <dl class="w-content">
                    <dt><label for="txt-con">상세 내용</label></dt>
                    <dd>
                      <textarea placeholder="내용을 입력해주세요." id="txt-con"></textarea>
                      <p class="txt-bite">0 / 300자</p>
                    </dd>
                  </dl>
                  <dl class="w-file">
                    <dt><label>파일 첨부</label></dt>
                    <dd>
                      <div class="file-up-list">
                        <div class="file-list-tit">
                          <span class="tit-name"><b>파일이름</b></span>
                          <span class="tit-size"><b>파일크기(Bytes)</b></span>
                          <span class="tit-button">&nbsp;</span>
                        </div>
                        <div id="uploadWrapper"></div>
                        <div class="file-list-size">
                          <span class="cur-size"><em>현재 용량</em><em>0.00MB</em></span>
                          <span class="rm-size"><em>남은 용량</em><em>00.00MB</em></span>
                        </div>
                        <p class="info-txt">* pdf, ppt, doc, hwp, txt, zip 파일만 등록 가능하며 최대 5개까지 등록 가능 합니다.</p>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="has-btn">
                  <div>
                    <button class="btn-default md rounded darkGray" type="button"><em>취소</em></button>
                    <button class="btn-default md rounded lightPurple" type="button"><em>저장</em></button>
                    <button class="btn-default md rounded purple" type="submit"><em>등록</em></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>

    <script>
      var uploadController = new Object();

      // 파일전송 컨트롤 생성
      uploadController = innorix.create({
        el: '#uploadWrapper', // 컨트롤 출력 HTML 객체 ID
        agent: false, // true = Agent 설치, false = html5 모드 사용 (기본값 : true)
        // maxFileCount: 100, // 첨부가능 파일 전체 개수 (기본값 : 무제한)
        maxFileSize: 104857600, // 100MB 첨부가능 전체 사이즈(bytes) (기본값 : 무제한)
        // maxTotalSize: 10000, // 첨부가능 파일 사이즈(bytes) (기본값 : 무제한)
        width: 550, // 컨트롤 출력 너비(pixel)
        height: 155, // 컨트롤 출력 높이(pixel
        //uploadUrl: './upload.jsp', // 업로드 URL
        addDuplicateFile: false, // 중복파일 추가 유무 (기본값 : true)
        allowExtension: ['pdf', 'ppt', 'pptx', 'doc', 'hwp', 'txt', 'zip'], // 허용 확장자 지정
        showFileListHeader: false, // 리스트 헤더에 선택 툴팁 출력
      });

      // 업로드 완료 이벤트
      uploadController.on('uploadComplete', function (p) {
        var f = p.files;
        var r = 'Upload complete\n\n';
        for (var i = 0; i < f.length; i++) {
          r += f[i].clientFileName + ' ' + f[i].fileSize + '\n';
        }
        alert(r);
      });
    </script>
  </body>
</html>
