<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>서울영상크리에이터 협업공간 상세 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap creater board view" id="contents">
        <h1 class="hidden-txt">서울영상크리에이터 협업공간 상세</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">영상크리에이터</a></span>
                <span><a href="">커뮤니티채널</a></span>
                <span><a href="">협업공간</a></span>
              </div>

              <h2 class="no_st">협업공간 상세</h2>
            </div>
          </header>
        </section>

        <!-- 협업공간 상세 -->
        <section>
          <div class="inner">
            <div class="b-view">
              <h3 class="contents-head">편집 영상입니다.</h3>
              <div class="contents-info">
                <span class="name"><strong>이름</strong>홍*동</span>
                <span class="date"><strong>날짜</strong>2022-06-07</span>
              </div>
              <div class="contents-body">
                <p>안녕하세요~</p>
                <p>편집 영상입니다.</p>
              </div>
              <div class="contents-file">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <ul>
                      <li><a href="" download>text_motion1.mov</a></li>
                    </ul>
                  </dd>
                </dl>
              </div>

              <!-- 관리자 답글 등록 완료 -->
              <div class="contents-reply">
                <div class="reply-head">
                  <h4>답변내용</h4>
                  <span class="date"><strong>답변일</strong> 2022-06-07</span>
                </div>
                <div class="reply-con">
                  <p>안녕하세요. 영상크리에이터 담당자 입니다.</p>
                  <p>편집영상 확인해 봤습니다~ 조금 수정이 있어 pdf로 전달 드립니다.</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>감사합니다.</p>
                </div>
              </div>
              <div class="contents-file">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <ul>
                      <li><a href="" download>행사일정.pdf</a></li>
                    </ul>
                  </dd>
                </dl>
              </div>

              <!-- 관리자 답글 등록 x 
              <div class="no-reply">
                <span>관리자 답변글이 등록되지 않았습니다.</span>
              </div>
             -->

              <div class="has-btn">
                <div>
                  <button class="btn-default md rounded darkGray" type="button"><em>목록</em></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
