<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../include/head.html')

    <title>서울영상크리에이터 공지사항 상세 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- #gnb -->
    <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
    <!-- // #gnb -->

    <!-- #contents -->
    <div class="wrap creater board view" id="contents">
      <section class="board_top">
        <header class="page-header">
          <div class="inner">
            <div class="location">
              <span
                ><a href=""
                  ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                ></span
              >
              <span><a href="">영상크리에이터</a></span>
              <span><a href="">커뮤니티채널</a></span>
              <span><a href="">공지사항</a></span>
            </div>

            <h2 class="no_st">공지사항 상세</h2>
          </div>
        </header>
      </section>

      <!-- 공지사항 상세 -->
      <section>
        <div class="inner">
          <div class="b-view">
            <h3 class="contents-head">[ 협업신청 ] 남산타워 체험 영상 제작 협업 모집</h3>
            <div class="contents-info">
              <span class="name"><strong>이름</strong>홍길동</span>
              <span class="date"><strong>날짜</strong>2022-06-07</span>
              <span class="hit"><em class="hidden-txt">조회수</em>300</span>
            </div>
            <div class="contents-body">
              <p>[신청기간]</p>
              <p>신청기간 : 6월 3일(금)~6월 7일(화)</p>
              <p>지원팀 : 총 2팀 선발 예정 (선착순)</p>
              <p>체험일: 6월 10일(금), 오후 2시</p>
              <p>체험장소: 남산타워</p>
              <p>&nbsp;</p>
              <p>[참고자료]</p>
              <p>※ 참고자료는 첨부파일을 확인해 주세요.</p>
              <p>&nbsp;</p>
              <p>[협업신청하기]</p>
              <p>http://tv.seoul.go.kr/new/src/abcd.jsp</p>
            </div>
            <div class="contents-file">
              <dl>
                <dt>첨부파일</dt>
                <dd>
                  <ul>
                    <li><a href="" download>남산타워 체험 영상 제작 자료.pdf</a></li>
                    <li><a href="" download>체험일정 안내.hwp</a></li>
                  </ul>
                </dd>
              </dl>
              <div class="has-btn">
                <div>
                  <button class="btn-default md rounded darkGray" type="button"><em>목록</em></button>
                  <button class="btn-default md rounded purple" type="button"><em>새글등록</em></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- // #contents -->

    <!-- #footer -->
    <footer id="footer">@@include('../include/footer_sub.html')</footer>
    <!-- // #footer -->
  </body>
</html>
