<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>서울영상크리에이터 우리들공간 상세 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap creater board view" id="contents">
        <h1 class="hidden-txt">서울영상크리에이터 우리들공간 상세</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">영상크리에이터</a></span>
                <span><a href="">커뮤니티채널</a></span>
                <span><a href="">우리들공간</a></span>
              </div>

              <h2 class="no_st">우리들공간 상세</h2>
            </div>
          </header>
        </section>

        <!-- 공지사항 상세 -->
        <section>
          <div class="inner">
            <div class="b-view">
              <h3 class="contents-head">남산타워 체험 영상 나눔합니다.</h3>
              <div class="contents-info">
                <span class="name"><strong>이름</strong>홍*동</span>
                <span class="date"><strong>날짜</strong>2022-06-07</span>
                <span class="hit"><em class="hidden-txt">조회수</em>300</span>
                <span class="reply"><em class="hidden-txt">답글 수</em>300</span>
              </div>
              <div class="contents-body">
                <p>안녕하세요 여러분.</p>
                <p>작업 시 남은 영상으로 짧게 영상을 제작하여, 나눔을 합니다.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>다들 무더운 더위 힘내시고 남은 년도도 화이팅 합시다!</p>
              </div>
              <div class="contents-file">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <ul>
                      <li><a href="" download>filename.pdf</a></li>
                      <li><a href="" download>filename.xls</a></li>
                      <li><a href="" download>filename.hwp</a></li>
                    </ul>
                  </dd>
                </dl>
              </div>

              <div class="list-nav pc-only">
                <dl>
                  <dt>
                    <a class="go_prev" href=""><b>이전글</b></a>
                  </dt>
                  <dd>
                    <span>
                      <a href="">벌써 한여름이 다가오네요.</a>
                    </span>
                  </dd>
                </dl>
                <dl>
                  <dt>
                    <a class="go_nxt" href=""><b>다음글</b></a>
                  </dt>
                  <dd>
                    <span>
                      <a href="">서울 크리에이터분들 너무 웃기고 영상이 유익해서 좋네요!</a>
                    </span>
                  </dd>
                </dl>
              </div>

              <div class="mob-list-nav mob-only">
                <div class="btn-wrap">
                  <button class="go_prev" type="button" onclick="location.href=''"><em>이전글</em></button>
                  <button class="go_nxt" type="button" onclick="location.href=''"><em>다음글</em></button>
                </div>
              </div>

              <!-- 댓글 영역 -->
              <div class="contents-review"></div>
              <!-- // 댓글 영역 -->

              <div class="has-btn">
                <div>
                  <button class="btn-default md rounded darkGray" type="button"><em>목록</em></button>
                  <button class="btn-default md rounded purple" type="button"><em>수정</em></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
