<ul>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-01.jpg" alt="큐레이션 목록 썸네일 01"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-02.jpg" alt="큐레이션 목록 썸네일 02"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-03.jpg" alt="큐레이션 목록 썸네일 03"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-04.jpg" alt="큐레이션 목록 썸네일 04"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-01.jpg" alt="큐레이션 목록 썸네일 05"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-02.jpg" alt="큐레이션 목록 썸네일 06"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-03.jpg" alt="큐레이션 목록 썸네일 07"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-04.jpg" alt="큐레이션 목록 썸네일 08"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-01.jpg" alt="큐레이션 목록 썸네일 09"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-02.jpg" alt="큐레이션 목록 썸네일 10"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-03.jpg" alt="큐레이션 목록 썸네일 11"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
  <li tabindex="0">
    <div class="img-thumb">
      <a href="../program/view.html"
        ><img src="../assets/images/thumbnail/curation-sample-thumbnail-04.jpg" alt="큐레이션 목록 썸네일 12"
      /></a>
    </div>
    <div class="info">
      <span class="title"
        ><a href="#">
          현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된 현재 가장 이슈가 되는 코로나19에 관련된
        </a></span
      >
      <span class="name">이름<em>홍*동</em></span>
    </div>
    <div class="etc">
      <span class="hit"><em class="hidden-txt">조회수</em>300</span>
      <span class="like"><em class="hidden-txt">조회수</em>300</span>
    </div>
  </li>
</ul>
