<div class="inner">
  <div>
    <ul>
      <li>
        <a href="https://www.seoul.go.kr/helper/privacy.do?type=www" class="privacy-policy" target="_blank" title="새 창 열림"
          >개인정보처리방침</a
        >
      </li>
      <li><a href="https://www.seoul.go.kr/helper/email.do" target="_blank" title="새 창 열림">이메일 무단수집 거부</a></li>
      <li>
        <a href="https://www.seoul.go.kr/helper/media.do" target="_blank" title="새 창 열림">영상정보처리기기 운영관리 방침</a>
      </li>
      <li>
        <a href="https://www.seoul.go.kr/homepageCorrect/user/hpCorrect.do" target="_blank" title="새 창 열림">누리집 바로잡기</a>
      </li>
    </ul>
    <address>
      서울특별시청 04524 서울특별시 중구 세종대로 110
      뉴미디어담당관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>대표전화</b>&nbsp;다산콜센터&nbsp;T. 02-120
    </address>
    <p class="copyright">&copy; 2022. Seoul Metropolitan Government all rights reserved.</p>
  </div>
  <button type="button" class="button-scroll-top" onclick="commonFunction().goScrollTop();">
    <em class="hidden-txt">상단으로 이동</em>
  </button>
</div>
