<div class="h-wrap-01">
  <div class="inner clear">
    <div>
      <a href="https://www.seoul.go.kr/main/index.jsp" target="_blank" title="새 창 열기" class="symbol-seoul"
        ><em class="hidden-txt">서울특별시</em></a
      >
      <span>2022년 제7대 청소년의회 의원 2차 모집</span>
    </div>
    <ul>
      <li><a href="#">서울소식</a></li>
      <li><a href="#">응답소</a></li>
      <li><a href="#">정보공개</a></li>
      <li><a href="#">분야별정보</a></li>
    </ul>
  </div>
</div>
<div class="h-wrap-02">
  <div class="inner clear">
    <div>
      <a href="#" class="symbol-live-seoul"><em class="hidden-txt">라이브 서울</em></a>
    </div>
    <div>
      <a href="https://mediahub.seoul.go.kr/main.do" target="_blank" title="새 창 열기">
        <em class="hidden-txt">내 손안에 서울 바로가기</em>
      </a>
      <ul>
        <li><a href="#">뉴스</a></li>
        <li><a href="#">영상</a></li>
        <li><a href="#">매거진</a></li>
        <li><a href="#">공모전</a></li>
        <li><a href="#">어린이신문</a></li>
        <li><a href="#">시민기자</a></li>
      </ul>
    </div>
    <div class="mob-menu">
      <div>
        <button type="button" class="button-open-schLayer"><em class="hidden-txt">검색</em></button>
        <!-- 모바일 검색 레이어 -->
        <div class="search-pop"></div>
      </div>

      <div>
        <button type="button" class="button-open-allMenu">
          <span><em class="hidden-txt">전체메뉴</em></span>
        </button>
        <!-- 모바일 전체메뉴 -->
        <nav class="all-menu"></nav>
      </div>
    </div>
  </div>
</div>
<div class="h-wrap-03">
  <div class="inner clear">
    <ul>
      <li><a href="">#서울</a></li>
      <li><a href="">서울오리지널</a></li>
      <li><a href="">영상크리에이터</a></li>
    </ul>
    <div>
      <a href="#" class="sign-in">로그인</a>
      <span class="text-wrap search">
        <input class="txt-ellipsis" type="text" title="검색어 입력" />
        <button type="submit"><em class="hidden-txt">검색</em></button>
      </span>
    </div>
  </div>
</div>
