<div class="liveOn-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="article">
        <div class="time"><strong>AM&nbsp;09:30</strong></div>
        <div class="info" tabindex="0">
          <dl>
            <dt><a href="#" class="transition-none">[기자브리핑]</a></dt>
            <dd><a href="#" class="transition-none">서울시 코로나19 현황 브리핑</a></dd>
          </dl>
          <div class="date">2022.03.22</div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-controller">
    <button class="button-swiper-prev"><em class="hidden-txt">이전</em></button>
    <button class="button-swiper-nxt"><em class="hidden-txt">다음</em></button>
  </div>
</div>
