<div id="top-banner">
  <div class="inner">
    <div class="notice">
      <h2><strong>내 손안에 서울 누리집 시스템 작업안내</strong></h2>
      <div class="contents-box">
        시스템 작업으로 내 손안에 서울 누리집서비스가 <span>2022.9.22.(목) 19:00 ~ 20:00</span>에<br class="pc-only" />
        원활하지 않을 수 있으니 서비스 이용에 양해바랍니다.(간헐적 중단)
      </div>
    </div>
    <div class="chk-wrap bnr-close">
      <span>
        <input type="checkbox" name="topBnr_chk" id="topBanner" checked />
        <label for="topBanner"><em>오늘 그만보기</em></label>
      </span>
      <button type="button"><em class="hidden-txt">닫기</em></button>
    </div>
  </div>
</div>
