<ul>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" checked id="list01" />
        <label for="list01"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list02" />
        <label for="list02"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list03" />
        <label for="list03"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list04" />
        <label for="list04"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list05" />
        <label for="list05"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list06" />
        <label for="list06"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list07" />
        <label for="list07"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list08" />
        <label for="list08"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list09" />
        <label for="list09"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list10" />
        <label for="list10"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list11" />
        <label for="list11"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list12" />
        <label for="list12"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list13" />
        <label for="list13"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list14" />
        <label for="list14"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list15" />
        <label for="list15"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list16" />
        <label for="list16"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list17" />
        <label for="list17"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list18" />
        <label for="list18"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list19" />
        <label for="list19"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list20" />
        <label for="list20"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list21" />
        <label for="list21"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list22" />
        <label for="list22"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list23" />
        <label for="list23"><em>분야명</em></label>
      </span>
    </div>
  </li>
  <li>
    <div class="chk-wrap list-type">
      <span>
        <input type="checkbox" id="list24" />
        <label for="list24"><em>분야명</em></label>
      </span>
    </div>
  </li>
</ul>
