/**
 * ==============================+
 * footer
 * ==============================+
 */

footer {
  //padding-top: 35px;
  border-top: 1px solid #cecece;
  background-color: #fefeff;
  position: relative;

  @include _bp(961px) {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .inner {
    width: 100%;
    max-width: 1200px;
    padding: 0;

    @include _bp(1280px) {
      padding: 0 30px;
    }

    @include _bp(961px) {
      padding: 0 15px;
    }

    dl {
      width: 100%;
      display: table;
      font-size: 0;

      @include _bp(1200px) {
        display: inline-block;
      }

      dt,
      dd {
        display: table-cell;
        vertical-align: top;

        @include _bp(1200px) {
          display: inline-block;
        }
      }
      dt {
        width: 170px;

        @include _bp(1200px) {
          width: 100%;
          margin-bottom: 20px;
        }

        strong {
          font-size: 2.4rem;
          color: #343a3c;
          font-weight: 700;
        }
      }

      dd {
        width: auto;

        &:first-of-type {
          @include _bp(1200px) {
            width: -webkit-calc(100% - 328px);
            width: -moz-calc(100% - 328px);
            width: calc(100% - 328px);
          }
        }

        ul.sitemap {
          font-size: 0;

          > li {
            display: inline-block;
            line-height: 36px;
            width: 20%;
            vertical-align: top;
            padding: 0 15px;
            border-right: 1px solid #dee3eb;
            min-height: 171px;

            &:first-of-type {
              @include _bp(1200px) {
                padding-left: 0;
              }
            }

            a {
              display: inline-block;
              font-size: 1.4rem;
              line-height: 1;
              font-weight: 600;
            }

            strong {
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid $blue2;

              a {
                font-size: 1.6rem;
                font-weight: 800;
              }
            }

            ol {
              padding: 18px 0;

              li {
                line-height: 1;

                & + li {
                  margin-top: 14px;
                }
              }
            }
          }
        }

        & + dd {
          width: 328px;
          padding-left: 30px;

          ul {
            li {
              display: inline-block;
              vertical-align: middle;
              font-size: 0;

              a {
                display: inline-block;

                &::before {
                  width: 105px;
                  height: 23px;
                  background-color: #fff;
                  background-image: url('../images/img-googleplay.gif');
                  background-repeat: no-repeat;
                  background-position: 0 0;
                  content: '';
                }
              }

              & + li {
                border-left: 1px solid #dee3eb;
                margin-left: 25px;
                padding-left: 25px;

                a {
                  &::before {
                    width: 101px;
                    height: 24px;
                    background-image: url('../images/img-appstore.gif');
                  }
                }
              }
            }
          }

          div {
            margin-top: 9px;
          }
        }
      }
    }

    > div {
      padding: 30px 0 20px;

      @include _bp(961px) {
        padding: 0;
        width: 100%;
      }

      ul {
        font-size: 0;

        @include _bp(961px) {
          padding: 10px 0;
        }

        li {
          display: inline-block;

          @include _bp(961px) {
            padding: 10px;
          }

          & + li {
            margin-left: 30px;

            @include _bp(961px) {
              margin-left: 0;
            }
          }

          a {
            display: inline-block;
            line-height: 1;
            font-size: 1.4rem;
            font-weight: 700;

            @include _bp(961px) {
              font-size: 1.6rem;
            }

            &.privacy-policy {
              color: $blue1;
            }
          }
        }
      }

      address {
        color: $gray7;
        font-size: 1.2rem;
        position: relative;
        margin-top: 20px;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        @include _bp(961px) {
          margin-top: 0;
          padding: 15px 0;
          color: $gray10;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.8;
        }

        &::before {
          @include _bp(961px) {
            position: absolute;
            width: -webkit-calc(100% + 30px);
            width: -moz-calc(100% + 30px);
            width: calc(100% + 30px);
            height: 1px;
            top: 0;
            left: -15px;
            background-color: #dadada;
            content: '';
          }
        }

        * {
          vertical-align: top;
        }

        // span {
        //   margin-left: 25px;
        // }
      }

      .copyright {
        margin-top: 10px;
        font-size: 1.3rem;

        @include _bp(961px) {
          margin-top: 0;
          color: $gray10;
          font-size: 1.6rem;
        }
      }

      .foot_bnr {
        width: 300px;
        margin-top: -10px;

        @include _bp(961px) {
          width: 100%;
          margin-top: 15px;
        }

        img {
          width: 100%;

          @include _bp(961px) {
            width: auto;
            max-width: 100%;
          }
        }
      }

      & + div {
        margin-left: 60px;
        @include _bp(961px) {
          margin-left: 0;
        }
      }
    }

    & + .inner {
      margin-top: 20px;
      overflow: visible;

      @include _bp(961px) {
        margin-top: 0;
      }

      &::after {
        position: absolute;
        width: 1920px;
        height: 1px;
        background-color: $gray6;
        left: 50%;
        top: 0;
        margin-left: -960px;
        content: '';

        @include _bp(961px) {
          content: none;
          display: none;
        }
      }
    }

    .button-scroll-top {
      display: inline-block;
      background-color: transparent;
      position: absolute;
      bottom: 60px;
      right: -67px;

      &::before {
        width: 37px;
        height: 38px;
        background-image: url('../images/icon-go_top-trans.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        content: '';
      }

      @include _bp(1400px) {
        right: 0;
        top: 20px;
        bottom: auto;
      }

      @include _bp(1280px) {
        right: 30px;
      }

      @include _bp(961px) {
        display: none;
      }
    }
  }
}
