/**
 * ==============================+
 * header
 * ==============================+
 */

#gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  z-index: 999;
  opacity: 0;
  @include transform(translateY(-100%));

  @include _bp(1200px) {
    @include transform(translateY(0));
  }

  [class^='h-wrap'] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 15px 0;
    @include transition(all 0.5s ease-in-out);

    @include _bp(1200px) {
      border-bottom-color: $gray5;
    }

    @include _bp(1200px) {
      padding: 0;
    }

    .inner {
      > div {
        float: left;
        position: relative;
        font-size: 0;
      }
    }
  }

  .h-wrap-01 {
    background-color: $white;

    @include _bp(1200px) {
      display: none;
    }

    .inner {
      .symbol-seoul {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
        @include transform(translateY(-50%));

        &::before {
          width: 101px;
          height: 26px;
          background-image: url('../images/icon-set-gnb.png');
          background-repeat: no-repeat;
          background-position: 0 -63px;
          content: '';
        }

        & + span {
          display: inline-block;
          position: relative;
          margin-left: 180px;
          padding-left: 24px;
          color: #575757;
          line-height: 1;
          font-size: 1.5rem;

          &::before {
            width: 19px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../images/icon-set-gnb.png');
            background-position: -172px 0;
            background-repeat: no-repeat;
            content: '';
          }
        }
      }

      > ul {
        float: right;
        font-size: 0;

        li {
          display: inline-block;

          & + li {
            margin-left: 25px;
          }

          a {
            display: inline-block;
            line-height: 1;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .h-wrap-02 {
    background-color: rgba(0, 0, 0, 0.4);

    @include _bp(1200px) {
      background-color: $white;
    }

    .inner {
      @include _bp(1200px) {
        min-height: 55px;
      }

      .symbol-live-seoul {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: 10px;
        @include transform(translateY(-50%));

        @include _bp(1200px) {
          position: static;
          margin-top: 0;
          @include transform(translateY(0));
        }

        &::before {
          width: 110px;
          height: 24px;
          background-image: url('../images/logo/liveseoul_wh.svg');
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: 0 0;
          content: '';

          @include _bp(1200px) {
            width: 120px;
            height: 26px;
            background-image: url('../images/logo/liveseoul.svg');
          }
        }
      }

      > div {
        @include _bp(1200px) {
          display: inline-block;
          float: none !important;
        }

        &.mob-menu {
          display: none;
          position: absolute;
          right: 30px;
          top: 50%;
          margin-top: -10px;

          @include _bp(561px) {
            right: 15px;
          }

          .search-pop {
            display: none;
            position: fixed;
            top: 56px;
            left: 0;
            right: 0;
            padding: 30px 40px 40px 40px;
            background-color: $white;
            border-bottom: 1px solid #e4e4e4;
            z-index: 900;

            .search-wrap {
              width: 100%;
              max-width: 600px;
              margin: 0 auto;
              border-bottom: 2px solid $black;
              height: 50px;
              padding-bottom: 10px;
              font-size: 0;

              * {
                display: inline-block;
              }

              input[type='text'] {
                width: -webkit-calc(100% - 40px);
                width: -moz-calc(100% - 40px);
                width: calc(100% - 40px);
                height: 40px;
                font-size: 1.6rem;
              }

              button {
                margin-left: 10px;
                position: relative;
                width: 28px;
                height: 100%;
                background-color: transparent;

                &::before {
                  position: absolute;
                  width: 28px;
                  height: 30px;
                  top: 50%;
                  left: 0;
                  margin-top: -15px;
                  background-image: url('../images/mob/icon-sch.png');
                  background-repeat: no-repeat;
                  background-position: 0 0;
                  background-size: 100% auto;
                  content: '';
                }
              }
            }
          }

          > div {
            display: inline-block;
            font-size: 0;

            > button {
              &,
              * {
                display: inline-block;
                background-color: transparent;
              }
            }

            & + div {
              margin-left: 20px;
            }
          }

          .button-open-schLayer {
            &::before {
              width: 19px;
              height: 20px;
              background-image: url('../images/mob/icon-sch.png');
              background-position: 0 0;
              background-repeat: no-repeat;
              background-size: 100%;
              content: '';
            }
          }

          .button-open-allMenu {
            width: 20px;
            height: 20px;
            position: relative;
            color: $black;

            &::before,
            &::after,
            span {
              width: 100%;
              height: 3px;
              position: absolute;
              background-color: currentColor;
              @include transition(all ease-out 0.3s);
            }

            &::before {
              top: 0;
              left: 0;
              content: '';
            }

            &::after {
              bottom: 0;
              left: 0;
              content: '';
            }

            span {
              top: 8px;
              right: 0;
            }

            // &.on {
            //   &::before {
            //     transform: rotate3d(0, 0, 1, -45deg);
            //     -webkit-transform: rotate3d(0, 0, 1, -45deg);
            //     -moz-transform: rotate3d(0, 0, 1, -45deg);
            //     -ms-transform: rotate3d(0, 0, 1, -45deg);
            //     top: 8px;
            //   }

            //   &::after {
            //     transform: rotate3d(0, 0, 1, 45deg);
            //     -webkit-transform: rotate3d(0, 0, 1, 45deg);
            //     -moz-transform: rotate3d(0, 0, 1, 45deg);
            //     -ms-transform: rotate3d(0, 0, 1, 45deg);
            //     bottom: 9px;
            //   }

            //   span {
            //     width: 0;
            //   }
            // }
          }

          .all-menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: $white;
            top: 0;
            right: -100%;
            z-index: 990;
            color: $black;

            .allMenu-header {
              height: 55px;

              .inner {
                span {
                  display: inline-block;

                  &:first-of-type {
                    position: absolute;
                    left: 30px;
                    top: 50%;
                    margin-top: -16px;
                    padding-left: 0;

                    @include _bp(561px) {
                      left: 15px;
                    }

                    a {
                      display: inline-block;
                      width: 33px;
                      height: 33px;
                      @include transform(translateY(0));
                      background-color: transparent;

                      &::before {
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/mob/icon-seoul.png');
                        background-position: 0 0;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        content: '';
                      }
                    }
                  }

                  &:nth-of-type(2) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -15.5px 0 0 -60px;
                  }
                }
              }
            }

            .allMenu-container {
              margin-top: 24px;
              max-height: -webkit-calc(100vh - 80px);
              max-height: -moz-calc(100vh - 80px);
              max-height: calc(100vh - 80px);
              overflow: hidden;
              overflow-y: auto;

              button:active:enabled {
                @include transform(none);
              }

              .inner {
                font-size: 1.6rem;

                .depth1 {
                  > li {
                    border-bottom: 1px solid #666;

                    > button,
                    > a {
                      position: relative;
                      display: inline-block;
                      width: 100%;
                      padding: 18px 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      text-align: left;
                      background: none;
                    }

                    &:not(.none) > button,
                    &:not(.none) > a {
                      &::after {
                        position: absolute;
                        width: 11px;
                        height: 6px;
                        top: 50%;
                        right: 0;
                        margin-top: -3px;
                        background-image: url('../images/icon-arr_down-xs.png');
                        background-repeat: no-repeat;
                        content: '';
                      }
                      &.on {
                        &::after {
                          background-image: url('../images/icon-arr_up-xs.png');
                        }
                      }
                    }

                    .box {
                      display: none;
                      padding: 25px;
                      background-color: #f2f2f2;

                      @include _bp(561px) {
                        padding: 20px 10px;
                      }

                      .depth2 {
                        > li {
                          width: 50%;
                          padding: 0 10px;
                          float: left;

                          & + li {
                            margin-top: 30px;
                          }

                          &.home {
                            float: none;
                          }

                          a {
                            font-size: 2rem;
                            font-weight: 600;

                            &.sign-in,
                            &.sign-out,
                            &.mypage {
                              padding-left: 34px;
                              position: relative;

                              &::before {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                @include transform(translateY(-50%));
                                width: 26px;
                                height: 26px;
                                background-image: url('../images/icon-set-gnb.png');
                                background-position: -62px 0;
                                background-repeat: no-repeat;
                                content: '';
                              }
                            }

                            &.sign-out,
                            &.mypage {
                              &::before {
                                background-position: -62px -29px;
                              }
                            }
                          }

                          .depth3 {
                            margin-top: 20px;

                            li {
                              a {
                                position: relative;
                                display: inline-block;
                                padding-left: 15px;
                                font-size: 1.6rem;
                                font-weight: 400;
                                line-height: 1;

                                & + a {
                                  margin-left: 25px;
                                }

                                &::after {
                                  position: absolute;
                                  top: 6px;
                                  left: 0;
                                  width: 4px;
                                  height: 4px;
                                  background-color: #008fd0;
                                  content: '';
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    &.current {
                      .box {
                        .depth2 {
                          > li:nth-of-type(2n + 1) {
                            clear: both;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .button-close-allMenu {
              width: 20px;
              height: 20px;
              position: absolute;
              right: 30px;
              top: 18px;
              color: $black;
              background-color: transparent;

              @include _bp(561px) {
                right: 15px;
              }

              &::before,
              &::after,
              span {
                width: 100%;
                height: 3px;
                position: absolute;
                background-color: currentColor;
                @include transition(all ease-out 0.3s);
              }

              &::before {
                top: 8px;
                left: 0;
                transform: rotate3d(0, 0, 1, -45deg);
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                -moz-transform: rotate3d(0, 0, 1, -45deg);
                -ms-transform: rotate3d(0, 0, 1, -45deg);
                content: '';
              }

              &::after {
                bottom: 9px;
                left: 0;
                transform: rotate3d(0, 0, 1, 45deg);
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                -moz-transform: rotate3d(0, 0, 1, 45deg);
                -ms-transform: rotate3d(0, 0, 1, 45deg);
                content: '';
              }

              span {
                top: 8px;
                right: 0;
                width: 0;
              }
            }
          }

          @include _bp(1200px) {
            display: inline-block;
          }
        }
      }

      > div:first-of-type {
        @include _bp(1200px) {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -13px 0 0 -60px;
        }
      }

      > div:nth-of-type(2) {
        float: right;
        font-size: 0;
        position: relative;
        padding-left: 43px;

        @include _bp(1200px) {
          position: absolute;
          left: 30px;
          top: 50%;
          margin-top: -16px;
          padding-left: 0;
        }

        @include _bp(561px) {
          left: 15px;
        }

        > a {
          display: inline-block;
          width: 26px;
          height: 26px;
          position: absolute;
          left: 0;
          top: 50%;
          @include transform(translateY(-50%));
          background-color: transparent;

          @include _bp(1200px) {
            position: static;
            width: 33px;
            height: 33px;
            @include transform(translateY(0));
          }

          &::before {
            width: 100%;
            height: 100%;
            background-image: url('../images/icon-set-gnb.png');
            background-position: -31px 0;
            background-repeat: no-repeat;
            content: '';

            @include _bp(1200px) {
              background-image: url('../images/mob/icon-seoul.png');
              background-position: 0 0;
              background-size: 100%;
              background-repeat: no-repeat;
            }
          }
        }

        ul {
          @include _bp(1200px) {
            display: none;
          }

          li {
            display: inline-block;

            & + li {
              margin-left: 20px;
            }

            &:nth-of-type(4) ~ li {
              a {
                color: $gray2;
              }
            }

            a {
              display: inline-block;
              line-height: 1;
              font-size: 1.5rem;
              font-weight: 600;
              color: $white;
            }
          }
        }
      }
    }
  }

  .h-wrap-03 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;

    @include _bp(1200px) {
      background-color: $white;
    }

    .inner {
      > div {
        float: right;
        line-height: 60px;

        @include _bp(1200px) {
          display: none;
        }

        > div {
          display: inline-block;
          position: relative;
        }

        .sign-in,
        .sign-out,
        .mypage {
          display: inline-block;
          line-height: 1;
          font-size: 1.5rem;
          font-weight: 600;
          color: $white;
          padding-left: 34px;
          margin-right: 29px;
          position: relative;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translateY(-50%));
            width: 26px;
            height: 26px;
            background-image: url('../images/icon-set-gnb.png');
            background-position: -93px 0;
            background-repeat: no-repeat;
            content: '';
          }
        }

        .sign-out,
        .mypage {
          &::before {
            background-position: -93px -29px;
          }
        }

        .text-wrap {
          width: auto;
          position: relative;

          input[type='text'] {
            width: 290px;
            padding-right: 38px;
            color: $white;
            background-color: transparent;
            height: 30px;
            border: 1px solid rgba(255, 255, 255, 0.5);
          }

          button {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 38px;
            background-color: transparent;

            &::before {
              width: 18px;
              height: 20px;
              position: absolute;
              right: 10px;
              top: 50%;
              @include transform(translateY(-50%));
              background-image: url('../images/icon-set-gnb.png');
              background-position: -124px 0;
              background-repeat: no-repeat;
              content: '';
            }
          }
        }
      }

      > ul {
        float: left;
        font-size: 0;
        margin-left: -20px;

        @include _bp(480px) {
          margin-left: -10px;
        }

        > li {
          display: inline-block;
          position: relative;
          padding: 0 20px;
          line-height: 60px;

          @include _bp(1200px) {
            line-height: 40px;
          }

          @include _bp(480px) {
            padding: 0 10px;
          }

          > a {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 600;
            color: $white;

            @include _bp(1200px) {
              line-height: 1;
              color: $black !important;
            }
          }
        }
      }

      .depth2 {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        min-width: 100%;
        background-color: $white;

        @include _bp(1200px) {
          display: none !important;
        }

        ul {
          border: 1px solid $gray5;
          border-top: none;

          li {
            line-height: 40px;
            border-top: 1px solid $gray5;

            a {
              display: inline-block;
              width: 100%;
              color: $black;
              font-size: 1.5rem;
              text-align: center;
            }
          }
        }
      }
    }
  }

  &.fixed,
  &.active {
    [class^='h-wrap'] {
      border-bottom-color: $gray5;
    }

    .h-wrap-02 {
      background-color: $white;

      .inner {
        .symbol-live-seoul {
          &::before {
            background-image: url('../images/logo/liveseoul.svg');
          }
        }

        > div:nth-of-type(2) {
          > a {
            &::before {
              background-position: 0 0;
            }
          }

          ul {
            li {
              a {
                color: $gray3;
              }
            }
          }
        }
      }
    }

    .h-wrap-03 {
      background-color: $white;

      .inner {
        > div {
          .sign-in,
          .sign-out,
          .mypage {
            color: $gray4;

            &::before {
              background-position: -62px 0;
            }
          }

          .sign-out,
          .mypage {
            &::before {
              background-position: -62px -29px;
            }
          }

          .text-wrap {
            input[type='text'] {
              color: $gray3;
              border-color: $gray5;
            }

            button {
              &::before {
                background-position: -147px 0;
              }
            }
          }
        }

        > ul {
          > li {
            > a {
              color: $gray3;
            }
          }
        }
      }
    }
  }

  &.active {
    opacity: 1;
    @include transform(translateY(0));
  }
}
