#uploadWrapper {
  width: 100% !important;

  &,
  * {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-family: 'Noto Sans CJK KR', 'Noto Sans KR', '맑은 고딕', '나눔 고딕', sans-serif;
  }
}

.innorix_basic {
  border: 1px solid $gray9 !important;
  font-size: 1.5rem !important;

  div {
    &.irx_filetree {
      width: 100% !important;
      border: none !important;

      &.empty-uploader {
        background-image: url('../images/bg-drop_zone.png') !important;
      }

      ul {
        &.irx_filetree_list {
          li {
            width: 100%;

            & + li {
              margin-top: 0 !important;
            }

            div {
              &.irx-file-inner-wrapper {
                width: 100%;
                height: 35px !important;
                padding: 0 !important;

                > div {
                  margin: 0 !important;
                }

                div {
                  &.filetree-checkbox,
                  &.file-icon {
                    overflow: hidden;
                    position: absolute;
                    width: 1px !important;
                    height: 1px !important;
                    border: none;
                    padding: 0;
                    margin-left: -1px !important;
                    margin-top: 0 !important;
                    clip: rect(1px 1px 1px 1px);
                    clip: rect(1px, 1px, 1px, 1px);
                  }

                  &.filename {
                    width: 65% !important;
                    text-align: center;
                    height: 36px !important;
                    line-height: 34px !important;
                    max-width: none !important;
                    padding: 0 10px !important;
                  }

                  &.filesize {
                    width: -webkit-calc(35% - 60px) !important;
                    width: -moz-calc(35% - 60px) !important;
                    width: calc(35% - 60px) !important;
                    text-align: center;
                    margin-left: 0 !important;
                    height: 36px !important;
                    line-height: 34px !important;
                    padding: 0 10px !important;
                  }

                  &.btn-group {
                    width: 60px;
                    clear: none !important;
                    margin-top: 7px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
