/**
 * ==============================+
 * variable
 * ==============================+
 */

//color
$primary-color: #660d98;
$sub-color: #631fcd;
$black: #000;
$white: #fff;
$gray1: #666;
$gray2: #999;
$gray3: #383838;
$gray4: #4b4b4b;
$gray5: #e4e4e4;
$gray6: #dddddd;
$gray7: #888;
$gray8: #e1e1e1;
$gray9: #ccc;
$gray10: #222;
$gray11: #7f7f7f;
$gray12: #444;
$gray13: #4a4a4a;
$blue1: #1e3785;
$blue2: #3477b7;
$navy: #111734;
$red1: #ff4f4f;
$red2: #cb2121;
$red3: #c91632;
$red4: #af0303;
$yellow1: #ffe139;
$yellow2: #f4b506;
$yellow3: #f4b836;
$orange: #f07d00;
$purple: #431952;
$light-purple: #9741b6;
