<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>추천목록 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap curation board list" id="contents">
        <h1 class="hidden-txt">추천목록</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">추천목록</a></span>
                <span><a href="">전문가추천</a></span>
              </div>

              <h2 class="no_st inline">추천목록</h2>
              <div class="btn-wrap inline">
                <button
                  class="btn-has-icon rounded notice navy button-active-modal fixed"
                  data-modal-name="curation-guide"
                  type="button"
                >
                  <em>추천목록 생성방법 알아보기</em>
                </button>
                <div class="modal-wrap">
                  <div class="modal fixed guide" id="modal-curation-guide">
                    <header class="modal-header">
                      <h5>추천목록 생성 가이드</h5>
                      <button type="button" class="button-close modal-off">
                        <em class="hidden-txt">레이어 팝업 닫기</em>
                      </button>
                    </header>
                    <div class="modal-body">
                      <div class="modal-contents">
                        <div id="guideVd"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <nav class="tabStyle-nav col-2 red">
                <ul>
                  <li class="on">
                    <a href=""><span>전문가 추천</span></a>
                  </li>
                  <li>
                    <a href=""><span>사용자 추천</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
        </section>

        <!-- 추천목록 -->
        <section>
          <div class="inner">
            <div class="search-area">
              <form>
                <fieldset>
                  <div class="text-wrap has-button">
                    <input type="text" title="검색어를 입력하세요." placeholder="검색어를 입력하세요." />
                    <button class="btn-has-icon rounded search orange" type="submit"><em>검색하기</em></button>
                    <button class="btn-has-icon rounded refresh burgundy" type="button"><em>새로고침</em></button>
                  </div>
                </fieldset>
              </form>
            </div>
            <h3 class="heading-wrap-03">
              <span class="desc txt-color lightGray">등록된 추천목록 수 <b class="txt-color darkGray">132</b>개</span>
              <span class="sort mrt-none">
                <a href="javascript:;" class="on">최신순</a>
                <a href="javascript:;">인기순</a>
                <a href="javascript:;">가나다순</a>
              </span>
            </h3>
            <div class="curation-list">@@include('../include/curation_list.html')</div>

            <!-- 검색결과가 없을 시 
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>' '에 대한 검색결과가 없습니다.</p>
            </div>
            -->

            <!-- 등록된 게시물이 없을 시
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>등록된 게시물이 없습니다.</p>
            </div>
            -->

            <div class="btn-wrap align-r">
              <button class="btn-default md rounded red2" type="submit"><em>추천목록 제작</em></button>
            </div>

            <!-- paging -->
            <div class="paging pc-only orange">
              <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
              <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
              <strong>1</strong>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
              <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
            </div>

            <!-- 더보기 (mobile) -->
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>

    <script>
      //티젠 플레이어 설정
      //화질 Object 리스트
      var setVideoSrc = new Array();
      var sizeList = new Array();

      //모바일 확인
      var isMob = window.innerWidth <= 768 ? true : false;

      // video src 설정
      // MP4 파일 테스트용
      // 공통 영상 상세

      // var videoObj1 = new Object();
      // videoObj1.size = '1';
      // videoObj1.src = '../assets/images/video/sample-video02.mp4';
      // videoObj1.type = 'video/mp4';
      // setVideoSrc.push(videoObj1);
      // sizeList.push(1);

      var videoObj2 = new Object();
      videoObj2.size = '720';
      videoObj2.src = '../assets/images/video/sample-video02.mp4';
      videoObj2.type = 'video/mp4';
      setVideoSrc.push(videoObj2);
      sizeList.push(720);

      var videoObj3 = new Object();
      videoObj3.size = '272';
      videoObj3.src = '../assets/images/video/sample-video02.mp4';
      videoObj3.type = 'video/mp4';
      setVideoSrc.push(videoObj3);
      sizeList.push(272);

      //처음 영상 재생 화질 default값 설정
      if (sizeList.length == 1) {
        qualitySize = 0;
      } else {
        //자동화질 설정
        if (sizeList[0] == '1') {
          if (!isMob || sizeList.length == 2) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 1;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 2;
          }
        }
        //자동화질 미설정
        else {
          if (!isMob) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 0;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 1;
          }
        }
      }

      // 영상 호출
      if ($('#guideVd').length) {
        $('#guideVd').createVideo({
          // 플레이어 생성 영역 DIV의 아이디
          id: 'video_guide', // 생성될 비디오 태그 아이디 *필수값
          src: setVideoSrc,
          speed: [0.5, 0.75, 1, 1.25, 1.5], // 배속
          autoPlay: true, // true일 경우 볼륨은 자동으로 음소거로 시작됨
          startTime: 0, //영상 재생 시작 시간(이어보기 기능)
          seeking: true, // false : 현재 재생시간 이후는 seeking 되지 않도록
          progress: true, // false : 프로그레스바 컨트롤 되지 않도록
          preview: [{ enabled: false, src: '' }],
          quality: { default: sizeList[qualitySize], options: sizeList }, // "default" : 0, options : [0]
          qualitySize: qualitySize,
          isBanner: false, //true : 컨트롤바 숨김, false : 컨트롤바 출력, default = false
          iconUrl: '../tgplayer/plugin/js/plyr.svg',
          blankVideo: '../tgplayer/plugin/js/blank.mp4',
        });
      }
    </script>
  </body>
</html>
