<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>추천목록 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap curation board list" id="contents">
        <h1 class="hidden-txt">추천목록</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">추천목록</a></span>
                <span><a href="">전문가추천</a></span>
              </div>

              <h2 class="no_st">추천목록</h2>

              <nav class="tabStyle-nav col-2 red">
                <ul>
                  <li class="on">
                    <a href=""><span>전문가 추천</span></a>
                  </li>
                  <li>
                    <a href=""><span>사용자 추천</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
        </section>

        <!-- 추천목록 -->
        <section>
          <div class="inner">
            <div class="search-area">
              <form>
                <fieldset>
                  <div class="text-wrap has-button">
                    <input type="text" title="검색어를 입력하세요." placeholder="검색어를 입력하세요." />
                    <button class="btn-has-icon rounded search orange" type="submit"><em>검색하기</em></button>
                    <button class="btn-has-icon rounded refresh burgundy" type="button"><em>새로고침</em></button>
                  </div>
                </fieldset>
              </form>
            </div>
            <h3 class="heading-wrap-03">
              <span class="desc txt-color lightGray">등록된 추천목록 수 <b class="txt-color darkGray">132</b>개</span>
              <span class="sort mrt-none">
                <a href="javascript:;" class="on">최신순</a>
                <a href="javascript:;">인기순</a>
                <a href="javascript:;">가나다순</a>
              </span>
            </h3>
            <div class="curation-list">@@include('../include/curation_list.html')</div>

            <!-- 검색결과가 없을 시 
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>' '에 대한 검색결과가 없습니다.</p>
            </div>
            -->

            <!-- 등록된 게시물이 없을 시
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>등록된 게시물이 없습니다.</p>
            </div>
            -->

            <div class="btn-wrap align-r">
              <button class="btn-default md rounded red2" type="submit"><em>추천목록 제작</em></button>
            </div>

            <!-- paging -->
            <div class="paging pc-only orange">
              <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
              <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
              <strong>1</strong>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
              <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
            </div>

            <!-- 더보기 (mobile) -->
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
