<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>큐레이션 상세 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap curation" id="contents">
        <h1 class="hidden-txt">큐레이션 상세</h1>
        <section class="detail-view">
          <header class="page-header">
            <div class="inner">
              <h2 class="no_st">
                <strong class="txt-ellipsis"
                  >서울 나들이 영상 모음 서울 나들이 영상 모음 서울 나들이 영상 모음 서울 나들이 영상 모음 서울 나들이 영상 모음
                  서울 나들이 영상 모음 서울 나들이 영상 모음</strong
                >
                <span class="btn-wrap inline">
                  <button class="btn-has-icon rounded sm like white active" type="submit">
                    <em>좋아요</em>
                  </button>
                  <!-- 좋아요 활성화 : active 클래스 추가 -->
                  <button class="btn-has-icon rounded sm flag white active" type="button">
                    <em>찜하기</em>
                  </button>
                  <!-- 찜하기 활성화 : active 클래스 추가 -->
                </span>
              </h2>
              <div class="icon-wrap">
                <button type="button" class="icon-share button-active-modal" data-modal-name="share">
                  <em class="hidden-txt">공유하기</em>
                </button>
                <div class="modal-wrap">
                  <!-- 공유하기 -->
                  <div class="modal right ivory share is_animated animate__fade_In_Up" id="modal-share">
                    <header class="modal-header">
                      <h5>SNS 공유하기</h5>
                      <button type="button" class="button-close modal-off">
                        <em class="hidden-txt">레이어 팝업 닫기</em>
                      </button>
                    </header>
                    <div class="modal-body">
                      <div class="modal-contents">
                        <ul class="sns-list">
                          <li>
                            <a class="share-facebook" href="javascript:void(0);"><em class="hidden-txt">페이스북 공유하기</em></a>
                          </li>
                          <li>
                            <a class="share-twitter" href="javascript:void(0);"><em class="hidden-txt">트위터 공유하기</em></a>
                          </li>
                          <li>
                            <a class="share-kakaotalk" href="javascript:void(0);"
                              ><em class="hidden-txt">카카오톡 공유하기</em></a
                            >
                          </li>
                          <li>
                            <a class="share-N_blog" href="javascript:void(0);"
                              ><em class="hidden-txt">네이버블로그 공유하기</em></a
                            >
                          </li>
                          <li>
                            <a class="share-URL" href="javascript:void(0);" onclick="commonFunction().copyUrl();"
                              ><em class="hidden-txt">URL 공유하기</em></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">#서울</a></span>
                <span><a href="">큐레이션</a></span>
                <span><a href="">상세</a></span>
              </div>
            </div>
          </header>
          <div class="page-body inner">
            <div class="curation-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <article>
                    <div class="vd-container">
                      <!-- tgplayer 영상영역 -->
                      <div class="currentVd" id="currentVd_01"></div>

                      <!-- youtube 영상영역
                      <div class="ytp-wrap">
                        <iframe
                          src="https://www.youtube.com/embed/XsXV6XBV_qQ"
                          title="2022 서울도시농업국제컨퍼런스 : 녹색치유, 힐링도시농업"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        ></iframe>
                      </div>
                       -->
                    </div>
                    <div class="vd-info animate fadeInLeft animate-delay-02">
                      <h3 class="heading-wrap-03">
                        <b class="author">훈타민 1</b><br />
                        <strong class="title txt-line-clamp3">
                          도심에서 식물 힐링하기, 멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 도심에서 식물 힐링하기,
                          멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 </strong
                        ><br />
                        <span class="etc-info">
                          <b class="date">2020-12-23</b>
                          <b class="name">등록자 : 홍길동</b>
                        </span>
                      </h3>
                      <div class="desc customedScroll red">
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.<br />
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.
                      </div>
                      <div class="hash-list txt-line-clamp2">
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article>
                    <div class="vd-container">
                      <!-- tgplayer 영상영역 -->
                      <div class="currentVd" id="currentVd_02"></div>

                      <!-- youtube 영상영역
                      <div class="ytp-wrap">
                        <iframe
                          src="https://www.youtube.com/embed/XsXV6XBV_qQ"
                          title="2022 서울도시농업국제컨퍼런스 : 녹색치유, 힐링도시농업"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        ></iframe>
                      </div>
                      -->
                    </div>
                    <div class="vd-info animate fadeInLeft animate-delay-02">
                      <h3 class="heading-wrap-03">
                        <b class="author">훈타민 2</b><br />
                        <strong class="title txt-line-clamp3">
                          도심에서 식물 힐링하기, 멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 </strong
                        ><br />
                        <span class="etc-info">
                          <b class="date">2020-12-23</b>
                          <b class="name">등록자 : 홍길동</b>
                        </span>
                      </h3>
                      <div class="desc customedScroll red">
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.<br />
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.
                      </div>
                      <div class="hash-list txt-line-clamp2">
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article>
                    <div class="vd-container">
                      <!-- tgplayer 영상영역 -->
                      <div class="currentVd" id="currentVd_03"></div>

                      <!-- youtube 영상영역
                      <div class="ytp-wrap">
                        <iframe
                          src="https://www.youtube.com/embed/XsXV6XBV_qQ"
                          title="2022 서울도시농업국제컨퍼런스 : 녹색치유, 힐링도시농업"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        ></iframe>
                      </div>
                      -->
                    </div>
                    <div class="vd-info animate fadeInLeft animate-delay-02">
                      <h3 class="heading-wrap-03">
                        <b class="author">훈타민 3</b><br />
                        <strong class="title txt-line-clamp3">
                          도심에서 식물 힐링하기, 멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 </strong
                        ><br />
                        <span class="etc-info">
                          <b class="date">2020-12-23</b>
                          <b class="name">등록자 : 홍길동</b>
                        </span>
                      </h3>
                      <div class="desc customedScroll red">
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.<br />
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.
                      </div>
                      <div class="hash-list txt-line-clamp2">
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article>
                    <div class="vd-container">
                      <!-- tgplayer 영상영역 -->
                      <div class="currentVd" id="currentVd_04"></div>

                      <!-- youtube 영상영역
                      <div class="ytp-wrap">
                        <iframe
                          src="https://www.youtube.com/embed/XsXV6XBV_qQ"
                          title="2022 서울도시농업국제컨퍼런스 : 녹색치유, 힐링도시농업"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        ></iframe>
                      </div>
                      -->
                    </div>
                    <div class="vd-info animate fadeInLeft animate-delay-02">
                      <h3 class="heading-wrap-03">
                        <b class="author">훈타민 4</b><br />
                        <strong class="title txt-line-clamp3">
                          도심에서 식물 힐링하기, 멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 </strong
                        ><br />
                        <span class="etc-info">
                          <b class="date">2020-12-23</b>
                          <b class="name">등록자 : 홍길동</b>
                        </span>
                      </h3>
                      <div class="desc customedScroll red">
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.<br />
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.
                      </div>
                      <div class="hash-list txt-line-clamp2">
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article>
                    <div class="vd-container">
                      <!-- tgplayer 영상영역 -->
                      <div class="currentVd" id="currentVd_05"></div>

                      <!-- youtube 영상영역
                      <div class="ytp-wrap">
                        <iframe
                          src="https://www.youtube.com/embed/XsXV6XBV_qQ"
                          title="2022 서울도시농업국제컨퍼런스 : 녹색치유, 힐링도시농업"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        ></iframe>
                      </div>
                      -->
                    </div>
                    <div class="vd-info animate fadeInLeft animate-delay-02">
                      <h3 class="heading-wrap-03">
                        <b class="author">훈타민 5</b><br />
                        <strong class="title txt-line-clamp3">
                          도심에서 식물 힐링하기, 멀리가지 말고 서울에서 다양한 테마 정원 산책하고 힐링 </strong
                        ><br />
                        <span class="etc-info">
                          <b class="date">2020-12-23</b>
                          <b class="name">등록자 : 홍길동</b>
                        </span>
                      </h3>
                      <div class="desc customedScroll red">
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.<br />
                        초록초록한 식물 가득한 서울 식물원<br />
                        도심에서 식물로 힐링하기<br />
                        다양한 국가, 테마 정원으로 꾸며져 볼거리 가득!<br />
                        3시간 꽉꽉 채워 즐기다 가세요.
                      </div>
                      <div class="hash-list txt-line-clamp2">
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                        <span>서울시</span>
                        <span>아이서울유</span>
                        <span>서울영상크리에이터</span>
                        <span>서울식물원</span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="swiper-pagination transition-none"></div>
            </div>
          </div>
        </section>

        <!-- 관련 큐레이션 목록 -->
        <section>
          <div class="inner">
            <div class="vd-list related-list">@@include('../include/vd_list.html')</div>

            <!-- 등록된 게시물이 없을 시
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>등록된 게시물이 없습니다.</p>
            </div>
            -->

            <div class="paging pc-only orange">
              <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
              <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
              <strong>1</strong>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
              <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
            </div>
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>

    <script src="../tgplayer/conponentRoot.js"></script>
    <script src="../tgplayer/player_init.js"></script>

    <script>
      //Object
      var mvObj = new Object();
      mvObj.setVideoSrc = new Array();
      mvObj.sizeList = new Array();

      //모바일 확인
      var isMob = window.innerWidth <= 768 ? true : false;

      // video src 설정
      // MP4 파일 테스트용
      // curation 영상 리스트

      /********
       ** 영상 1
       ********/
      mvObj.setVideoSrc1 = new Array();
      mvObj.sizeList1 = new Array();

      // 자동해상도
      mvObj.videoObj1_1 = new Object();
      mvObj.videoObj1_1.size = '1';
      mvObj.videoObj1_1.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj1_1.type = 'video/mp4';

      mvObj.setVideoSrc1.push(mvObj.videoObj1_1);
      mvObj.sizeList1.push(1);

      // 1280 * 720
      mvObj.videoObj1_2 = new Object();
      mvObj.videoObj1_2.size = '720';
      mvObj.videoObj1_2.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj1_2.type = 'video/mp4';

      mvObj.setVideoSrc1.push(mvObj.videoObj1_2);
      mvObj.sizeList1.push(720);

      // 484 * 272
      mvObj.videoObj1_3 = new Object();
      mvObj.videoObj1_3.size = '272';
      mvObj.videoObj1_3.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj1_3.type = 'video/mp4';

      mvObj.setVideoSrc1.push(mvObj.videoObj1_3);
      mvObj.sizeList1.push(272);

      mvObj.setVideoSrc.push(mvObj.setVideoSrc1);
      mvObj.sizeList.push(mvObj.sizeList1);

      /********
       ** 영상 2
       ********/
      mvObj.setVideoSrc2 = new Array();
      mvObj.sizeList2 = new Array();

      // 자동해상도
      mvObj.videoObj2_1 = new Object();
      mvObj.videoObj2_1.size = '1';
      mvObj.videoObj2_1.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj2_1.type = 'video/mp4';

      mvObj.setVideoSrc2.push(mvObj.videoObj2_1);
      mvObj.sizeList2.push(1);

      // 1280 * 720
      mvObj.videoObj2_2 = new Object();
      mvObj.videoObj2_2.size = '720';
      mvObj.videoObj2_2.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj2_2.type = 'video/mp4';

      mvObj.setVideoSrc2.push(mvObj.videoObj2_2);
      mvObj.sizeList2.push(720);

      // 484 * 272
      mvObj.videoObj2_3 = new Object();
      mvObj.videoObj2_3.size = '272';
      mvObj.videoObj2_3.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj2_3.type = 'video/mp4';

      mvObj.setVideoSrc2.push(mvObj.videoObj2_3);
      mvObj.sizeList2.push(272);

      mvObj.setVideoSrc.push(mvObj.setVideoSrc2);
      mvObj.sizeList.push(mvObj.sizeList2);

      /********
       ** 영상 3
       ********/
      mvObj.setVideoSrc3 = new Array();
      mvObj.sizeList3 = new Array();

      // 자동해상도
      mvObj.videoObj3_1 = new Object();
      mvObj.videoObj3_1.size = '1';
      mvObj.videoObj3_1.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj3_1.type = 'video/mp4';

      mvObj.setVideoSrc3.push(mvObj.videoObj3_1);
      mvObj.sizeList3.push(1);

      // 1280 * 720
      mvObj.videoObj3_2 = new Object();
      mvObj.videoObj3_2.size = '720';
      mvObj.videoObj3_2.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj3_2.type = 'video/mp4';

      mvObj.setVideoSrc3.push(mvObj.videoObj3_2);
      mvObj.sizeList3.push(720);

      // 484 * 272
      mvObj.videoObj3_3 = new Object();
      mvObj.videoObj3_3.size = '272';
      mvObj.videoObj3_3.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj3_3.type = 'video/mp4';

      mvObj.setVideoSrc3.push(mvObj.videoObj3_3);
      mvObj.sizeList3.push(272);

      mvObj.setVideoSrc.push(mvObj.setVideoSrc3);
      mvObj.sizeList.push(mvObj.sizeList3);

      /********
       ** 영상 4
       ********/
      mvObj.setVideoSrc4 = new Array();
      mvObj.sizeList4 = new Array();

      // 자동해상도
      mvObj.videoObj4_1 = new Object();
      mvObj.videoObj4_1.size = '1';
      mvObj.videoObj4_1.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj4_1.type = 'video/mp4';

      mvObj.setVideoSrc4.push(mvObj.videoObj4_1);
      mvObj.sizeList4.push(1);

      // 1280 * 720
      mvObj.videoObj4_2 = new Object();
      mvObj.videoObj4_2.size = '720';
      mvObj.videoObj4_2.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj4_2.type = 'video/mp4';

      mvObj.setVideoSrc4.push(mvObj.videoObj4_2);
      mvObj.sizeList4.push(720);

      // 484 * 272
      mvObj.videoObj4_3 = new Object();
      mvObj.videoObj4_3.size = '272';
      mvObj.videoObj4_3.src = '../assets/images/video/sample-video02.mp4';
      mvObj.videoObj4_3.type = 'video/mp4';

      mvObj.setVideoSrc4.push(mvObj.videoObj4_3);
      mvObj.sizeList4.push(272);

      mvObj.setVideoSrc.push(mvObj.setVideoSrc4);
      mvObj.sizeList.push(mvObj.sizeList4);

      /********
       ** 영상 5
       ********/
      mvObj.setVideoSrc5 = new Array();
      mvObj.sizeList5 = new Array();

      // 자동해상도
      mvObj.videoObj5_1 = new Object();
      mvObj.videoObj5_1.size = '1';
      mvObj.videoObj5_1.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj5_1.type = 'video/mp4';

      mvObj.setVideoSrc5.push(mvObj.videoObj5_1);
      mvObj.sizeList5.push(1);

      // 1280 * 720
      mvObj.videoObj5_2 = new Object();
      mvObj.videoObj5_2.size = '720';
      mvObj.videoObj5_2.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj5_2.type = 'video/mp4';

      mvObj.setVideoSrc5.push(mvObj.videoObj5_2);
      mvObj.sizeList5.push(720);

      // 484 * 272
      mvObj.videoObj5_3 = new Object();
      mvObj.videoObj5_3.size = '272';
      mvObj.videoObj5_3.src = '../assets/images/video/sample-video01.mp4';
      mvObj.videoObj5_3.type = 'video/mp4';

      mvObj.setVideoSrc5.push(mvObj.videoObj5_3);
      mvObj.sizeList5.push(272);

      mvObj.setVideoSrc.push(mvObj.setVideoSrc5);
      mvObj.sizeList.push(mvObj.sizeList5);

      //처음 영상 재생 화질 default값 설정
      if (mvObj.sizeList[0][0].length == 1) {
        qualitySize = 0;
      } else {
        //자동화질 설정
        if (mvObj.sizeList[0][0] == '1') {
          if (!isMob || mvObj.sizeList[0][0].length == 2) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 1;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 2;
          }
        }
        //자동화질 미설정
        else {
          if (!isMob) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 0;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 1;
          }
        }
      }

      var currentVd_ = $('.currentVd').get();

      if (currentVd_.length) {
        currentVd_.forEach(function (el, idx) {
          $(el).createVideo({
            // 플레이어 생성 영역 DIV의 아이디
            id: 'video_' + (idx + 1), // 생성될 비디오 태그 아이디 *필수값
            src: mvObj.setVideoSrc[idx],
            speed: [0.5, 0.75, 1, 1.25, 1.5], // 배속
            autoPlay: false, // true일 경우 볼륨은 자동으로 음소거로 시작됨
            startTime: 0, //영상 재생 시작 시간(이어보기 기능)
            seeking: true, // false : 현재 재생시간 이후는 seeking 되지 않도록
            progress: true, // false : 프로그레스바 컨트롤 되지 않도록
            preview: [{ enabled: false, src: '' }],
            quality: { default: mvObj.sizeList[idx][qualitySize], options: mvObj.sizeList[idx] }, // "default" : 0, options : [0]
            qualitySize: qualitySize,
            isBanner: false, //true : 컨트롤바 숨김, false : 컨트롤바 출력, default = false
            iconUrl: '../tgplayer/plugin/js/plyr.svg',
            blankVideo: '../tgplayer/plugin/js/blank.mp4',
          });
        });
      }
    </script>
  </body>
</html>
