<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>추천목록 상세 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap curation pdb-none" id="contents">
        <h1 class="hidden-txt">추천목록 상세</h1>
        <section class="detail-view">
          <header class="page-header">
            <div class="inner">
              <h2 class="no_st">
                <strong class="txt-ellipsis">서울 나들이 영상 모음</strong>
              </h2>
              <div class="btn-wrap inline">
                <button class="btn-has-icon rounded sm like white active" type="submit">
                  <em>좋아요</em>
                </button>
                <!-- 좋아요 활성화 : active 클래스 추가 -->
                <button class="btn-has-icon rounded sm flag white active" type="button">
                  <em>찜하기</em>
                </button>
                <!-- 찜하기 활성화 : active 클래스 추가 -->
                <div class="icon-wrap">
                  <button type="button" class="icon-share button-active-modal" data-modal-name="share">
                    <em class="hidden-txt">공유하기</em>
                  </button>
                  <div class="modal-wrap">
                    <!-- 공유하기 -->
                    <div class="modal right ivory share is_animated animate__fade_In_Up" id="modal-share">
                      <header class="modal-header">
                        <h5>SNS 공유하기</h5>
                        <button type="button" class="button-close modal-off">
                          <em class="hidden-txt">레이어 팝업 닫기</em>
                        </button>
                      </header>
                      <div class="modal-body">
                        <div class="modal-contents">
                          <ul class="sns-list">
                            <li>
                              <a class="share-facebook" href="javascript:void(0);"
                                ><em class="hidden-txt">페이스북 공유하기</em></a
                              >
                            </li>
                            <li>
                              <a class="share-twitter" href="javascript:void(0);"><em class="hidden-txt">트위터 공유하기</em></a>
                            </li>
                            <li>
                              <a class="share-kakaotalk" href="javascript:void(0);"
                                ><em class="hidden-txt">카카오톡 공유하기</em></a
                              >
                            </li>
                            <li>
                              <a class="share-N_blog" href="javascript:void(0);"
                                ><em class="hidden-txt">네이버블로그 공유하기</em></a
                              >
                            </li>
                            <li>
                              <a class="share-URL" href="javascript:void(0);" onclick="commonFunction().copyUrl();"
                                ><em class="hidden-txt">URL 공유하기</em></a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="location">
                <span>
                  <a href=""> <img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a>
                </span>
                <span><a href="">추천목록</a></span>
                <span><a href="">상세</a></span>
              </div>
            </div>
          </header>
          <div class="page-body inner">
            <article>
              <h3 class="hidden-txt">영상 상세</h3>
              <div class="cur-vd-container">
                <!-- tgplayer 영상영역 -->
                <div id="currentVd"></div>

                <!-- youtube 영상영역 -->
                <!-- <div class="ytp-container">
                  <div class="ytp-wrap">
                    <div id="player"></div>
                  </div>
                </div> -->
              </div>
              <div class="vd-info">
                <div class="contents">
                  <h4 class="contents-header">
                    <strong class="title">서울시장 출근 환영행사 | 2022년 06월 02일(목) 오전 8시50분</strong><br />
                    <span class="etc"><em>2022-06-02</em><em>서울시청 1층</em></span>
                  </h4>
                  <div class="contents-body">
                    <p>일시 : 2022년 06월 02일(목) 오전 8시50분 / 장소 : 서울시청 1층 #서울시청 #서울시장 #출근환영행사</p>
                    <p>&nbsp;</p>
                    <p>라이브서울_ http://tv.seoul.go.kr</p>
                    <p>서울시 팟캐스트_http://www.podbbang.com/ch/13364</p>
                    <p>페이스북_ https://facebook.com/seoul.kr</p>
                  </div>
                </div>
              </div>
              <aside id="reCommendList">
                <button type="button" class="button-open-reCommendList">
                  <em
                    >추천<br />
                    목록</em
                  >
                </button>
                <h4>박*정님의 추천목록</h4>
                <button type="button" onclick="closeRecommendList();" class="button-close-reCommendList">
                  <em class="hidden-txt">추천 목록 닫기</em>
                </button>
                <div class="customedScroll pink">
                  <ul>
                    <li>
                      <a href="javascript:void(0);" class="active" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-01.jpg" alt="추천영상 썸네일 01" />
                        </div>
                        <div>
                          <b>아픈 역사를 기억하는 공간이자 신의 쉼터, 남산 예장공원</b><br />
                          <em>2021.12.28</em>
                        </div>
                      </a>
                      <label for="chkItem-1" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-1" checked />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-02.jpg" alt="추천영상 썸네일 02" />
                        </div>
                        <div>
                          <b>가을 품은 창경궁 ㅣ서울영상크리에이터</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-2" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-2" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-03.jpg" alt="추천영상 썸네일 03" />
                        </div>
                        <div>
                          <b>서울미래유산을 곁들인 서울 뚜벅이 투어</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-3" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-3" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-04.jpg" alt="추천영상 썸네일 04" />
                        </div>
                        <div>
                          <b>공예의 과거부터 미래까지 연결짓다! 서울공예박물관</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-4" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-4" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-05.jpg" alt="추천영상 썸네일 05" />
                        </div>
                        <div>
                          <b>서울에서 놀면 어디가니????? 서울 골목 곳곳 카페, 맛집</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-5" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-5" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-06.jpg" alt="추천영상 썸네일 06" />
                        </div>
                        <div>
                          <b>서울여행영상! 미니어처가 된 SEOUL (타임랩스 영상)</b><br />
                          <em>2021.04.27</em>
                        </div>
                      </a>
                      <label for="chkItem-6" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-6" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-07.jpg" alt="추천영상 썸네일 07" />
                        </div>
                        <div>
                          <b>[그렉 Vlog] 고즈넉한 핫플 돈의문박물관마을 | 한옥 여행</b><br />
                          <em>2022.04.27</em>
                        </div>
                      </a>
                      <label for="chkItem-7" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-7" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-08.jpg" alt="추천영상 썸네일 08" />
                        </div>
                        <div>
                          <b>나도 제로웨이스트에 한 걸음 더, 서울 제로숲 제로웨이스트 마켓</b><br />
                          <em>2021.06.17</em>
                        </div>
                      </a>
                      <label for="chkItem-8" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-8" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-01.jpg" alt="추천영상 썸네일 09" />
                        </div>
                        <div>
                          <b>아픈 역사를 기억하는 공간이자 신의 쉼터, 남산 예장공원</b><br />
                          <em>2021.12.28</em>
                        </div>
                      </a>
                      <label for="chkItem-9" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-9" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-02.jpg" alt="추천영상 썸네일 10" />
                        </div>
                        <div>
                          <b>가을 품은 창경궁 ㅣ서울영상크리에이터</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-10" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-10" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-03.jpg" alt="추천영상 썸네일 11" />
                        </div>
                        <div>
                          <b>서울미래유산을 곁들인 서울 뚜벅이 투어</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-11" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-11" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-04.jpg" alt="추천영상 썸네일 12" />
                        </div>
                        <div>
                          <b>공예의 과거부터 미래까지 연결짓다! 서울공예박물관</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-12" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-12" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-05.jpg" alt="추천영상 썸네일 13" />
                        </div>
                        <div>
                          <b>서울에서 놀면 어디가니????? 서울 골목 곳곳 카페, 맛집</b><br />
                          <em>2022.01.10</em>
                        </div>
                      </a>
                      <label for="chkItem-13" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-13" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-06.jpg" alt="추천영상 썸네일 14" />
                        </div>
                        <div>
                          <b>서울여행영상! 미니어처가 된 SEOUL (타임랩스 영상)</b><br />
                          <em>2021.04.27</em>
                        </div>
                      </a>
                      <label for="chkItem-14" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-14" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-07.jpg" alt="추천영상 썸네일 15" />
                        </div>
                        <div>
                          <b>[그렉 Vlog] 고즈넉한 핫플 돈의문박물관마을 | 한옥 여행</b><br />
                          <em>2022.04.27</em>
                        </div>
                      </a>
                      <label for="chkItem-15" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-15" />
                      </label>
                    </li>
                    <li>
                      <a href="javascript:void(0);" onclick="recommendItemView(this)">
                        <div class="img">
                          <img src="../assets/images/thumbnail/recommend-sample-thumb-01-08.jpg" alt="추천영상 썸네일 16" />
                        </div>
                        <div>
                          <b>나도 제로웨이스트에 한 걸음 더, 서울 제로숲 제로웨이스트 마켓</b><br />
                          <em>2021.06.17</em>
                        </div>
                      </a>
                      <label for="chkItem-16" class="hidden-txt">
                        <input type="radio" name="cur-chkItem" id="chkItem-16" />
                      </label>
                    </li>
                  </ul>
                </div>
              </aside>
            </article>
          </div>
        </section>

        <!-- 관련 추천목록 -->
        <section class="bg-gray">
          <div class="inner">
            <h3 class="heading-wrap-03">
              <strong><a href="">다른 제작자의 추천 목록 보기</a></strong>
            </h3>
            <div class="curation-list2">@@include('../include/curation_list2.html')</div>

            <!-- 등록된 게시물이 없을 시
            <div class="no-files">
              <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
              <p>등록된 게시물이 없습니다.</p>
            </div>
            -->

            <div class="paging pc-only orange">
              <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
              <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
              <strong>1</strong>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
              <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
            </div>
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>

    <script>
      $(function () {
        openRecommendList();
      });

      function recommendItemView(trg) {
        // 추천 목록 영상 보기
        var idx = $(trg).closest('ul').find('a').index(trg);

        $(trg).addClass('active');
        $(trg).closest('ul').find('a').not(trg).removeClass('active');
        $(trg).next('label').find('input[type=radio]').prop('checked', 'checked');

        $(trg)
          .closest('.customedScroll')
          .stop()
          .animate(
            {
              scrollTop: $('#reCommendList').find('li').outerHeight() * idx,
            },
            200
          );
      }

      // mobile
      function openRecommendList() {
        // 추천 목록 열기
        var list_ = $('#reCommendList');
        $('.button-open-reCommendList').on('click', function (e) {
          e.preventDefault();
          e.stopPropagation();
          var trg_ = $(this);

          if (trg_.hasClass('on')) {
            list_.removeClass('r-fixed');
            $('#layout').css({
              height: 'auto',
              'overflow-y': 'visible',
            });
          } else {
            list_.addClass('r-fixed');
            $('#layout').css({
              height: '100vh',
              'overflow-y': 'hidden',
            });
          }
          trg_.toggleClass('on');
        });
      }

      function closeRecommendList() {
        // 추천 목록 닫기
        $('#reCommendList').removeClass('r-fixed');
        $('.button-open-reCommendList').removeClass('on');
        $('#layout').css({
          height: 'auto',
          'overflow-y': 'visible',
        });
      }

      //유튜브 플레이어 iframe 호출
      if ($('.ytp-container').length) {
        var tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/iframe_api';

        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady(fileName) {
          gb.YTplayer = new YT.Player('player', {
            height: '100%',
            width: '100%',
            videoId: 'XsXV6XBV_qQ', // 영상 id
            rel: 0, // 0으로 해놓아야 재생 후 관련 영상이 안뜸
            events: {
              onStateChange: onPlayerStateChange,
            },
          });
        }

        function onPlayerStateChange(e) {
          //-1 (시작되지 않음)
          //0 (종료)
          //1 (재생 중)
          //2 (정지)
          //3 (버퍼링 중)
          //5 (스킵 된)

          if (e.data === 1) {
            // 재생 중
            gb.ytpStatus = 'play';
          } else if (e.data === -1 || e.data === 2) {
            // 시작하지 않거나 정지 됨
            gb.ytpStatus = 'stop';
          }
        }
      }

      //티젠 플레이어 설정
      //화질 Object 리스트
      var setVideoSrc = new Array();
      var sizeList = new Array();

      //모바일 확인
      var isMob = window.innerWidth <= 768 ? true : false;

      // video src 설정
      // MP4 파일 테스트용
      // 공통 영상 상세
      var videoObj1 = new Object();
      videoObj1.size = '1';
      videoObj1.src = '../assets/images/video/sample-video02.mp4';
      videoObj1.type = 'video/mp4';
      setVideoSrc.push(videoObj1);
      sizeList.push(1);

      var videoObj2 = new Object();
      videoObj2.size = '720';
      videoObj2.src = '../assets/images/video/sample-video02.mp4';
      videoObj2.type = 'video/mp4';
      setVideoSrc.push(videoObj2);
      sizeList.push(720);

      var videoObj3 = new Object();
      videoObj3.size = '272';
      videoObj3.src = '../assets/images/video/sample-video02.mp4';
      videoObj3.type = 'video/mp4';
      setVideoSrc.push(videoObj3);
      sizeList.push(272);

      //처음 영상 재생 화질 default값 설정
      if (sizeList.length == 1) {
        qualitySize = 0;
      } else {
        //자동화질 설정
        if (sizeList[0] == '1') {
          if (!isMob || sizeList.length == 2) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 1;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 2;
          }
        }
        //자동화질 미설정
        else {
          if (!isMob) {
            //웹 브라우저 화질 default 1280 x 720
            qualitySize = 0;
          } else {
            //모바일 화질 default    484 x 272
            qualitySize = 1;
          }
        }
      }

      // 영상 호출
      if ($('#currentVd').length) {
        $('#currentVd').createVideo({
          // 플레이어 생성 영역 DIV의 아이디
          id: 'video', // 생성될 비디오 태그 아이디 *필수값
          src: setVideoSrc,
          speed: [0.5, 0.75, 1, 1.25, 1.5], // 배속
          autoPlay: false, // true일 경우 볼륨은 자동으로 음소거로 시작됨
          startTime: 0, //영상 재생 시작 시간(이어보기 기능)
          seeking: true, // false : 현재 재생시간 이후는 seeking 되지 않도록
          progress: true, // false : 프로그레스바 컨트롤 되지 않도록
          preview: [{ enabled: false, src: '' }],
          quality: { default: sizeList[qualitySize], options: sizeList }, // "default" : 0, options : [0]
          qualitySize: qualitySize,
          isBanner: false, //true : 컨트롤바 숨김, false : 컨트롤바 출력, default = false
          iconUrl: '../tgplayer/plugin/js/plyr.svg',
          blankVideo: '../tgplayer/plugin/js/blank.mp4',
        });
      }
    </script>
  </body>
</html>
