<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../include/head.html')

    <title>프로그램 리스트 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- #gnb -->
    <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
    <!-- // #gnb -->

    <!-- #contents -->
    <div class="wrap program" id="contents">
      <section class="list-view">
        <header class="page-header">
          <div class="inner">
            <h2 class="hidden-txt">방영프로그램<strong>전지적서울시점</strong></h2>

            <div class="location mob-only">
              <span
                ><a href=""
                  ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                ></span
              >
              <span><a href="">방영프로그램</a></span>
              <span><a href="">전지적서울시점</a></span>
            </div>

            <div class="mob-only">
              <span class="select-wrap type-03">
                <label for="creator">
                  <em class="hidden-txt">프로그램 선택</em>
                </label>
                <select name="program" id="creator">
                  <option value="" selected>방영프로그램</option>
                  <option value="">종영프로그램</option>
                  <option value="">서울 온에어</option>
                  <option value="">자치구방송국</option>
                  <option value="">마을미디어</option>
                  <option value="">소통방송</option>
                </select>
              </span>
              <strong>전지적서울시점</strong>
            </div>
          </div>
        </header>
        <div class="page-body clear inner">
          <aside class="sideMenu"></aside>
          <div class="contents">
            <div class="contents-header">
              <div class="list-filter-swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" checked="" name="chkAll" id="chk_all" />
                        <label for="chk_all"><em>전체</em></label>
                      </span>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" name="chk_filter_01" id="chk_1" />
                        <label for="chk_1"><em>백설기</em></label>
                      </span>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" name="chk_filter_02" id="chk_2" />
                        <label for="chk_2"><em>해치TV</em></label>
                      </span>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" name="chk_filter_03" id="chk_3" />
                        <label for="chk_3"><em>집콕360°VR</em></label>
                      </span>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" name="chk_filter_04" id="chk_4" />
                        <label for="chk_4"><em>세대공감썰</em></label>
                      </span>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="chk-wrap-type02">
                      <span>
                        <input type="checkbox" name="chk_filter_05" id="chk_5" />
                        <label for="chk_5"><em>알려ZOOM 서울</em></label>
                      </span>
                    </div>
                  </li>
                </ul>
                <div class="swiper-controller">
                  <button class="button-swiper-prev"><em class="hidden-txt">이전</em></button>
                  <button class="button-swiper-nxt"><em class="hidden-txt">다음</em></button>
                </div>
              </div>
            </div>
            <div class="contents-body">
              <!-- 영상 목록 -->
              <section>
                <h3 class="heading-wrap-03">
                  <strong>최신영상</strong>
                </h3>
                <div class="vd-list program">@@include('../include/vd_list.html')</div>
                <div class="paging pc-only orange">
                  <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
                  <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
                  <strong>1</strong>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">7</a>
                  <a href="#">8</a>
                  <a href="#">9</a>
                  <a href="#">10</a>
                  <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
                  <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
                </div>
                <div class="btn-wrap align-c mob-only">
                  <button type="button" class="btn-prev"><em>이전</em></button>
                  <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
                  <button type="button" class="btn-next"><em>다음</em></button>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- // #contents -->

    <!-- #footer -->
    <footer id="footer">@@include('../include/footer_sub.html')</footer>
    <!-- // #footer -->
  </body>
</html>
