<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../include/head.html')

    <title>프로그램 리스트 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- #gnb -->
    <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
    <!-- // #gnb -->

    <!-- #contents -->
    <!-- // #contents -->

    <!-- #footer -->
    <footer id="footer">@@include('../include/footer_sub.html')</footer>
    <!-- // #footer -->
  </body>
</html>
