<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../include/head.html')

    <title>게시판 샘플 09 | 라이브 서울</title>

    @@include('../include/header_sub.html')

    <style>
      .button-left,
      .button-right {
        background-color: transparent;
        position: fixed;
        top: 50%;
        margin-top: -30px;
        opacity: 0.3;
      }
      .button-left:hover,
      .button-right:hover {
        opacity: 1;
      }
      .button-right {
        right: 10px;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%">
      <img src="../assets/images/notice/notice-09.png" style="width: 100%" alt="공지 샘플 09" />
    </div>
    <button type="button" class="button-left" onclick="location.href='../notice/notice08.html'">
      <img src="../assets/images/notice/prev.png" alt="이전" />
    </button>
    <button type="button" class="button-right" onclick="location.href='../notice/notice10.html'">
      <img src="../assets/images/notice/next.png" alt="다음" />
    </button>
  </body>
</html>
