<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>마이페이지 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap mypage board list exc" id="contents">
        <h1 class="hidden-txt">내가 만든 큐레이션</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">마이페이지</a></span>
              </div>

              <h2 class="no_st"><strong>홍길동</strong><em>님 안녕하세요.</em></h2>

              <nav class="tabStyle-nav red">
                <ul>
                  <li>
                    <a href=""><span>내가 좋아요한 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>내가 시청한 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>영상다운로드 내역</span></a>
                  </li>
                  <li class="on">
                    <a href=""><span>큐레이션 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>나의 관심분야</span></a>
                  </li>
                </ul>
              </nav>

              <nav class="tabStyle-nav2 red">
                <ul>
                  <li>
                    <a href=""><span>내가 찜한 큐레이션</span></a>
                  </li>
                  <li class="on">
                    <a href=""><span>내가 만든 큐레이션</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
        </section>

        <!-- 큐레이션 목록 -->
        <section>
          <h3 class="hidden-txt">내가 만든 큐레이션</h3>
          <div class="tblStyle-list red curation">
            <div class="inner">
              <ul class="list-th">
                <li class="td-num">번호</li>
                <li class="td-subject">큐레이션 제목</li>
                <li class="td-date">등록일</li>
                <li class="td-state">처리상태</li>
                <li class="td-like">좋아요</li>
                <li class="td-view">조회수</li>
                <li class="td-detail">비고</li>
              </ul>
              <ul class="list-td">
                <li>
                  <div>
                    <div class="td-num"><span>10</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">처리상태</b>요청</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b>100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail empty"></div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>09</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">처리상태</b>요청</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b>100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail empty"></div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>08</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">처리상태</b>제작 중</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b> 100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color org"
                        type="button"
                        onclick="location.href='../curation/view.html'"
                      >
                        <em>요청하기</em>
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>07</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">처리상태</b>제작 중</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b> 100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color org"
                        type="button"
                        onclick="location.href='../curation/view.html'"
                      >
                        <em>요청하기</em>
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>06</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state red">
                      <span><b class="mob-only inline">처리상태</b>반려</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b> 100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color lgtRed button-active-modal fixed"
                        data-modal-name="reject"
                        type="button"
                      >
                        <em>반려내역 보기</em>
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>05</span></div>
                    <div class="td-subject">
                      <span>
                        서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울 역사관 체험 영상 제작 협업서울서울
                      </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">처리상태</b>승인</span>
                    </div>
                    <div class="td-like">
                      <span><b class="mob-only inline">좋아요</b> 100</span>
                    </div>
                    <div class="td-view">
                      <span><b class="mob-only inline">조회수</b>312</span>
                    </div>
                    <div class="td-detail empty"></div>
                  </div>
                </li>
              </ul>

              <!-- 등록된 큐레이션이 없을 시
              <div class="no-files">
                <p><img src="../assets/images/img-notice.png" alt="알림 이미지" /></p>
                <p>등록된 큐레이션이 없습니다.</p>
              </div>
              -->
              <div class="btn-wrap align-r">
                <button class="btn-default md rounded red2" type="submit"><em>제작하기</em></button>
              </div>

              <div class="paging pc-only orange">
                <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
                <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
                <strong>1</strong>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
                <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
              </div>
              <div class="btn-wrap align-c mob-only">
                <button type="button" class="btn-prev"><em>이전</em></button>
                <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
                <button type="button" class="btn-next"><em>다음</em></button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- modal -->
      <!-- 영상 다운로드 반려내역 -->
      <div class="modal fixed reject" id="modal-reject">
        <header class="modal-header">
          <h5>반려내역</h5>
          <button type="button" class="button-close type02 modal-off">
            <em class="hidden-txt">레이어 팝업 닫기</em>
          </button>
        </header>
        <div class="modal-body">
          <div class="modal-contents">
            <p><img src="../assets/images/img-notice.png" width="85" alt="반려내역" /></p>
            <p>
              타 웹사이트 게재를 위해서는 <br />
              영상 다운로드가 <b>불가능</b> 합니다.
            </p>
          </div>
        </div>
      </div>

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
