<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>마이페이지 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap mypage board list exc" id="contents">
        <h1 class="hidden-txt">영상 다운로드 내역</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">마이페이지</a></span>
              </div>

              <h2 class="no_st"><strong>홍길동</strong><em>님 안녕하세요.</em></h2>

              <nav class="tabStyle-nav red">
                <ul>
                  <li>
                    <a href=""><span>내가 좋아요한 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>내가 시청한 영상</span></a>
                  </li>
                  <li class="on">
                    <a href=""><span>영상다운로드 내역</span></a>
                  </li>
                  <li>
                    <a href=""><span>큐레이션 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>나의 관심분야</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
        </section>

        <!-- 영상 다운로드 내역 -->
        <section>
          <h3 class="hidden-txt">영상 다운로드 내역</h3>
          <div class="tblStyle-list red download">
            <div class="inner">
              <ul class="list-th">
                <li class="td-num">번호</li>
                <li class="td-thumb">썸네일</li>
                <li class="td-subject">영상 제목</li>
                <li class="td-date">요청일</li>
                <li class="td-state">
                  다운로드<br />
                  요청상태
                </li>
                <li class="td-detail">영상다운</li>
                <li class="td-period">다운로드 기간</li>
              </ul>
              <ul class="list-td">
                <li>
                  <div>
                    <div class="td-num"><span>10</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-01.jpg" alt="영상 썸네일 01" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터]</span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">다운로드 요청상태</b>요청</span>
                    </div>
                    <div class="td-detail">
                      <span>승인대기중</span>
                    </div>
                    <div class="td-period">
                      <span> 2022-07-19~2022-08-19 </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>09</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-02.jpg" alt="영상 썸네일 02" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터] </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">다운로드 요청상태</b>요청</span>
                    </div>
                    <div class="td-detail">
                      <span>승인대기중</span>
                    </div>
                    <div class="td-period">
                      <span> 2022-07-19~2022-08-19 </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>08</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-03.jpg" alt="영상 썸네일 03" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터] </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state red">
                      <span><b class="mob-only inline">다운로드 요청상태</b>반려</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color lgtRed button-active-modal fixed"
                        data-modal-name="reject"
                        type="button"
                      >
                        <em>반려내역</em>
                      </button>
                    </div>
                    <div class="td-period empty"></div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>07</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-04.jpg" alt="영상 썸네일 04" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터] </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">다운로드 요청상태</b>승인</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color org"
                        type="button"
                        onclick="commonFunction().modalDownload();"
                      >
                        <em>영상다운</em>
                      </button>
                    </div>
                    <div class="td-period"><span>2022-07-19~2022-08-19</span></div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>06</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-05.jpg" alt="영상 썸네일 05" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터] </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">다운로드 요청상태</b>승인</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color org"
                        type="button"
                        onclick="commonFunction().modalDownload();"
                      >
                        <em>영상다운</em>
                      </button>
                    </div>
                    <div class="td-period"><span>2022-07-19~2022-08-19</span></div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="td-num"><span>05</span></div>
                    <div class="td-thumb">
                      <img src="../assets/images/thumbnail/related_list-sample-thumb-01-06.jpg" alt="영상 썸네일 06" />
                    </div>
                    <div class="td-subject">
                      <span> 성북동 나들이! (한옥마을, 예쁜골목, 관광명소) [서울영상크리에이터] </span>
                    </div>
                    <div class="td-date">
                      <span>2022-07-20</span>
                    </div>
                    <div class="td-state">
                      <span><b class="mob-only inline">다운로드 요청상태</b>승인</span>
                    </div>
                    <div class="td-detail">
                      <button
                        class="btn-default rounded xs2 white txt-color org"
                        type="button"
                        onclick="commonFunction().modalDownload();"
                      >
                        <em>영상다운</em>
                      </button>
                    </div>
                    <div class="td-period"><span>2022-07-19~2022-08-19</span></div>
                  </div>
                </li>
              </ul>

              <div class="paging pc-only orange">
                <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
                <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
                <strong>1</strong>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
                <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
              </div>
              <div class="btn-wrap align-c mob-only">
                <button type="button" class="btn-prev"><em>이전</em></button>
                <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
                <button type="button" class="btn-next"><em>다음</em></button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- modal -->
      <!-- 영상 다운로드 반려내역 -->
      <div class="modal fixed reject" id="modal-reject">
        <header class="modal-header">
          <h5>반려내역</h5>
          <button type="button" class="button-close type02 modal-off">
            <em class="hidden-txt">레이어 팝업 닫기</em>
          </button>
        </header>
        <div class="modal-body">
          <div class="modal-contents">
            <p><img src="../assets/images/img-notice.png" width="85" alt="반려내역" /></p>
            <p>
              타 웹사이트 게재를 위해서는 <br />
              영상 다운로드가 <b>불가능</b> 합니다.
            </p>
          </div>
        </div>
      </div>

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
