<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>마이페이지 | 라이브 서울</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <div id="layout">
      <!-- #gnb -->
      <header class="active" id="gnb">@@include('../include/gnb_sub.html')</header>
      <!-- // #gnb -->

      <!-- #contents -->
      <div class="wrap mypage board list" id="contents">
        <h1 class="hidden-txt">내가 좋아요한 영상</h1>
        <section class="board_top">
          <header class="page-header">
            <div class="inner">
              <div class="location">
                <span
                  ><a href=""
                    ><img src="../assets/images/icon-home-xs.png" alt="홈" /><em class="hidden-txt">홈으로 이동</em></a
                  ></span
                >
                <span><a href="">마이페이지</a></span>
              </div>

              <h2 class="no_st"><strong>홍길동</strong><em>님 안녕하세요.</em></h2>

              <nav class="tabStyle-nav red">
                <ul>
                  <li class="on">
                    <a href=""><span>내가 좋아요한 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>내가 시청한 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>영상다운로드 내역</span></a>
                  </li>
                  <li>
                    <a href=""><span>큐레이션 영상</span></a>
                  </li>
                  <li>
                    <a href=""><span>나의 관심분야</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
        </section>

        <!-- 영상 목록 -->
        <section>
          <div class="inner">
            <h3 class="heading-wrap-03">
              <span class="txt-color lightGray">좋아요한 영상 <b class="txt-color darkGray">18</b>개</span>
              <span class="sort mrt-none">
                <a href="javascript:;" class="on">최신순</a>
                <a href="javascript:;">인기순</a>
                <a href="javascript:;">가나다순</a>
              </span>
            </h3>
            <div class="vd-list">@@include('../include/vd_list.html')</div>

            <!-- paging -->
            <div class="paging pc-only orange">
              <a href="#" class="first"><span class="hidden-txt">첫 페이지</span></a>
              <a href="#" class="prev"><span class="hidden-txt">이전 페이지</span></a>
              <strong>1</strong>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <a href="#" class="next"><span class="hidden-txt">다음 페이지</span></a>
              <a href="#" class="last"><span class="hidden-txt">마지막 페이지</span></a>
            </div>

            <!-- 더보기 (mobile) -->
            <div class="btn-wrap align-c mob-only">
              <button type="button" class="btn-prev"><em>이전</em></button>
              <span><b>3</b>&nbsp;&nbsp;of&nbsp;&nbsp;<em>75</em></span>
              <button type="button" class="btn-next"><em>다음</em></button>
            </div>
          </div>
        </section>
      </div>
      <!-- // #contents -->

      <!-- #footer -->
      <footer id="footer">@@include('../include/footer_sub.html')</footer>
      <!-- // #footer -->
    </div>
  </body>
</html>
